<%= form_for(@flyer_path) do |f| %>
  <% if @flyer_path.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flyer_path.errors.count, "error") %> prohibited this flyer_path from being saved:</h2>

      <ul>
      <% @flyer_path.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :flyer_info %><br />
    <%= f.text_field :flyer_info %>
  </div>
  <div class="field">
    <%= f.label :post1 %><br />
    <%= f.number_field :post1 %>
  </div>
  <div class="field">
    <%= f.label :post2 %><br />
    <%= f.number_field :post2 %>
  </div>
  <div class="field">
    <%= f.label :longitude1 %><br />
    <%= f.text_field :longitude1 %>
  </div>
  <div class="field">
    <%= f.label :latitude1 %><br />
    <%= f.text_field :latitude1 %>
  </div>
  <div class="field">
    <%= f.label :longitude2 %><br />
    <%= f.text_field :longitude2 %>
  </div>
  <div class="field">
    <%= f.label :latitude2 %><br />
    <%= f.text_field :latitude2 %>
  </div>
  <div class="field">
    <%= f.label :storms %><br />
    <%= f.number_field :storms %>
  </div>
  <div class="field">
    <%= f.label :stormed %><br />
    <%= f.number_field :stormed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
