<p id="notice"><%= notice %></p>

<p>
  <b>Flyer info:</b>
  <%= @flyer_path.flyer_info %>
</p>

<p>
  <b>Post1:</b>
  <%= @flyer_path.post1 %>
</p>

<p>
  <b>Post2:</b>
  <%= @flyer_path.post2 %>
</p>

<p>
  <b>Longitude1:</b>
  <%= @flyer_path.longitude1 %>
</p>

<p>
  <b>Latitude1:</b>
  <%= @flyer_path.latitude1 %>
</p>

<p>
  <b>Longitude2:</b>
  <%= @flyer_path.longitude2 %>
</p>

<p>
  <b>Latitude2:</b>
  <%= @flyer_path.latitude2 %>
</p>

<p>
  <b>Storms:</b>
  <%= @flyer_path.storms %>
</p>

<p>
  <b>Stormed:</b>
  <%= @flyer_path.stormed %>
</p>


<%= link_to 'Edit', edit_flyer_path_path(@flyer_path) %> |
<%= link_to 'Back', flyer_paths_path %>
