<h1>Listing beacons</h1>

<table>
  <tr>
    <th>Used</th>
    <th>Expiration</th>
    <th>User</th>
    <th>Post</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @beacons.each do |beacon| %>
  <tr>
    <td><%= beacon.used %></td>
    <td><%= beacon.expiration %></td>
    <td><%= beacon.user_id %></td>
    <td><%= beacon.post_id %></td>
    <td><%= link_to 'Show', beacon %></td>
    <td><%= link_to 'Edit', edit_beacon_path(beacon) %></td>
    <td><%= link_to 'Destroy', beacon, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Beacon', new_beacon_path %>
