<%= form_for(@item_info) do |f| %>
  <% if @item_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_info.errors.count, "error") %> prohibited this item_info from being saved:</h2>

      <ul>
      <% @item_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tier %><br />
    <%= f.number_field :tier %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :supplymax %><br />
    <%= f.number_field :supplymax %>
  </div>
  <div class="field">
    <%= f.label :supplyrate %><br />
    <%= f.number_field :supplyrate %>
  </div>
  <div class="field">
    <%= f.label :multiplier %><br />
    <%= f.number_field :multiplier %>
  </div>
  <div class="field">
    <%= f.label :img %><br />
    <%= f.number_field :img %>
  </div>
  <div class="field">
    <%= f.label :disabled %><br />
    <%= f.check_box :disabled %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
