<h1>Listing item_infos</h1>

<table>
  <tr>
    <th>Price</th>
    <th>SupplyMax</th>
    <th>SupplyRate</th>
    <th>Multiplier</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @item_infos.each do |item_info| %>
  <tr>
    <td><%= item_info.price %></td>
    <td><%= item_info.supplymax %></td>
    <td><%= item_info.supplyrate %></td>
    <td><%= item_info.multiplier %></td>
    <td><%= link_to 'Show', item_info %></td>
    <td><%= link_to 'Edit', edit_item_info_path(item_info) %></td>
    <td><%= link_to 'Destroy', item_info, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item info', new_item_info_path %>
