<p id="notice"><%= notice %></p>

<p>
  <b>Capacity:</b>
  <%= @flyer_info.capacity %>
</p>

<p>
  <b>Speed:</b>
  <%= @flyer_info.speed %>
</p>

<p>
  <b>Stormresist:</b>
  <%= @flyer_info.stormresist %>
</p>

<p>
  <b>Multiplier:</b>
  <%= @flyer_info.multiplier %>
</p>

<h2>Localized information</h2>
<% @flyer_info.flyer_locs.each do |flyer_loc| %>
    <p>
      <b>Locale:</b>
      <%= flyer_loc.locale %>
    </p>

    <p>
      <b>Localized name:</b>
      <%= flyer_loc.localized_name %>
    </p>

    <p>
      <b>Localized description:</b>
      <%= flyer_loc.localized_desc %>
    </p>
<% end %>

<h2>Add localized information:</h2>
<%= form_for([@flyer_info, @flyer_info.flyer_locs.build]) do |f| %>
    <div class="field">
      <%= f.label :locale %><br />
      <%= f.text_field :locale %>
    </div>
    <div class="field">
      <%= f.label :localized_name %><br />
      <%= f.text_field :localized_name %>
    </div>
    <div class="field">
      <%= f.label :localized_desc %><br />
      <%= f.text_field :localized_desc %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<%= link_to 'Edit', edit_flyer_info_path(@flyer_info) %> |
<%= link_to 'Back', flyer_infos_path %>
