<h1>Listing users</h1>

<table>
  <tr>
    <th>Member</th>
    <th>Bucks</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.member %></td>
    <td><%= user.bucks %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<p>
  <b>Caution: </b>New user through website should be used for debugging purposes only. New users should
  be created through JSON API and sync'ed with PogProfile server.
</p>

<%= link_to 'New User', new_user_path %>
