<p id="notice"><%= notice %></p>

<p>
  <b>Member:</b>
  <%= @user.member %>
</p>

<p>
  <b>Bucks:</b>
  <%= @user.bucks %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Secretkey:</b>
  <%= @user.secretkey %>
</p>


<p>
  <b>Fbid:</b>
  <%= @user.fbid %>
</p>

<p>
  <b>Facebook friends IDs:</b>
  <%= @user.fb_friends %>
</p>

<h2>Configs</h2>
<% @user.userconfigs.each do |userconfig| %>
    <p>
      <b>Key:</b>
      <%= userconfig.key %>
    </p>

    <p>
      <b>Value:</b>
      <%= userconfig.value %>
    </p>
<% end %>

<h2>Add a config setting:</h2>
<%= form_for([@user, @user.userconfigs.build]) do |f| %>
    <div class="field">
      <%= f.label :key %><br />
      <%= f.number_field :key %>
    </div>
    <div class="field">
      <%= f.label :value %><br />
      <%= f.text_field :value %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<h2>Flyers</h2>
<% @user.user_flyers.each do |userflyer| %>
    <p>
      <b>Flyer:</b>
      <%= userflyer.flyer_info_id %>
    </p>
<% end %>

<h2>Add a flyer:</h2>
<%= form_for([@user, @user.user_flyers.build]) do |f| %>
    <div class="field">
      <%= f.label :flyer_info_id %><br />
      <%= f.number_field :flyer_info_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
