<h1>Listing posts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Userid</th>
    <th>Longitude</th>
    <th>Latitude</th>
    <th>Img</th>
    <th>Region</th>
    <th>Item_info_id</th>
    <th>SupplyMaxLevel</th>
    <th>SupplyRateLevel</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.name %></td>
    <td><%= post.user_id %></td>
    <td><%= post.longitude %></td>
    <td><%= post.latitude %></td>
    <td><%= post.img %></td>
    <td><%= post.region %></td>
    <td><%= post.item_info_id %></td>
    <td><%= post.supplymaxlevel %></td>
    <td><%= post.supplyratelevel %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
